@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=My+Soul&family=Parisienne&family=Playball&family=Updock&family=Yanone+Kaffeesatz:wght@300&display=swap');

.start{
    background-color: rgb(17 16 22);
    width: 100%;
    height: 130px;
    border-radius: 160%;
}

.img{
    background-color: rgb(246 246 246);
    width: 100%;
}

img{
    height: 100vh;
    width: 120vh; 
}

.ini{
    margin-top: -435px;
}
h2{
    font-family: 'Updock', cursive;
    color: rgb(238 232 136);
    font-size: 80px;
}

.link{
    text-decoration: none;
}

.btnIni{
    margin-top: 150px;
}